$color-black:#000000;
$color-white:white;
$color-bg-icon:#4d4d4d;
$color-bg-hover-icon:#c5cf31;
$color-span-logo:#cccccc;
$color-header-h2:#ccd45d;
$color-call-us:#f8f9fd;
$color-icons:#8fd0d2;
$color-clients:#333333;
$color-data:#999999;
$color-comment:#8fd0d2;
$color-dollar:#b3b3b3;
$color-footer-bg:#252525;
$color-footer-p:gray;
$color-input-bg:#333333;
$color-under-word-one: rgba(255, 255, 255, 0.7);
$color-under-word-two: rgba(255, 255, 255, 0.5);
$color-contact-p:rgba(255, 255, 255, 0.8);

